Data Preprocessing

In [50]:
import pandas as pd
import glob
import os

folder_path = "D:\\DATA ANALYST\\Project\\E-Commerce\\Dataset"
csv_files = glob.glob(os.path.join(folder_path, '*.csv'))

# customers = pd.read_csv('customers.csv')
# geolocation = pd.read_csv('geolocation.csv')
# order_items = pd.read_csv('order_items.csv')
# orders = pd.read_csv('orders.csv')    
# payments = pd.read_csv('payments.csv')
# products = pd.read_csv('products.csv')
# sellers = pd.read_csv('payments.csv')


dataframes = {}
for file in csv_files:
    name = os.path.splitext(os.path.basename(file))[0]
    dataframes[name] = pd.read_csv(file)

for name, df in dataframes.items():
    print(f"\n>>> {name}.csv - {df.shape[0]} rows x {df.shape[1]} cols")
    print(df.head(3))

>>> customers.csv - 99441 rows x 5 cols
                        customer_id                customer_unique_id  \
0  06b8999e2fba1a1fbc88172c00ba8bc7  861eff4711a542e4b93843c6dd7febb0
1  18955e83d337fd6b2def6b18a428ac77  290c77bc529b7ac935b93aa66c333dc3
2  4e7b3e00288586ebd08712fdd0374a03  060e732b5b29e8181a18229c7b0b2b5e

   customer_zip_code_prefix          customer_city customer_state
0                     14409                 franca             SP
1                      9790  sao bernardo do campo             SP
2                      1151              sao paulo             SP

>>> geolocation.csv - 1000163 rows x 5 cols
   geolocation_zip_code_prefix  geolocation_lat  geolocation_lng  \
0                         1037       -23.545621       -46.639292
1                         1046       -23.546081       -46.644820
2                         1046       -23.546129       -46.642951

  geolocation_city geolocation_state
0        sao paulo                SP
1        sao paulo                SP
2        sao paulo                SP

>>> orders.csv - 99441 rows x 8 cols
                           order_id                       customer_id  \
0  e481f51cbdc54678b7cc49136f2d6af7  9ef432eb6251297304e76186b10a928d
1  53cdb2fc8bc7dce0b6741e2150273451  b0830fb4747a6c6d20dea0b8c802d7ef
2  47770eb9100c2d0c44946d9cf07ec65d  41ce2a54c0b03bf3443c3d931a367089

  order_status order_purchase_timestamp    order_approved_at  \
0    delivered      2017-10-02 10:56:33  2017-10-02 11:07:15
1    delivered      2018-07-24 20:41:37  2018-07-26 03:24:27
2    delivered      2018-08-08 08:38:49  2018-08-08 08:55:23

  order_delivered_carrier_date order_delivered_customer_date  \
0          2017-10-04 19:55:00           2017-10-10 21:25:13
1          2018-07-26 14:31:00           2018-08-07 15:27:45
2          2018-08-08 13:50:00           2018-08-17 18:06:29

  order_estimated_delivery_date
0           2017-10-18 00:00:00
1           2018-08-13 00:00:00
2           2018-09-04 00:00:00

>>> order_items.csv - 112650 rows x 7 cols
                           order_id  order_item_id  \
0  00010242fe8c5a6d1ba2dd792cb16214              1
1  00018f77f2f0320c557190d7a144bdd3              1
2  000229ec398224ef6ca0657da4fc703e              1

                         product_id                         seller_id  \
0  4244733e06e7ecb4970a6e2683c13e61  48436dade18ac8b2bce089ec2a041202
1  e5f2d52b802189ee658865ca93d83a8f  dd7ddc04e1b6c2c614352b383efe2d36
2  c777355d18b72b67abbeef9df44fd0fd  5b51032eddd242adc84c38acab88f23d

   shipping_limit_date  price  freight_value
0  2017-09-19 09:45:35   58.9          13.29
1  2017-05-03 11:05:13  239.9          19.93
2  2018-01-18 14:48:30  199.0          17.87

>>> payments.csv - 103886 rows x 5 cols
                           order_id  payment_sequential payment_type  \
0  b81ef226f3fe1789b1e8b2acac839d17                   1  credit_card
1  a9810da82917af2d9aefd1278f1dcfa0                   1  credit_card
2  25e8ea4e93396b6fa0d3dd708e76c1bd                   1  credit_card

   payment_installments  payment_value
0                     8          99.33
1                     1          24.39
2                     1          65.71

>>> products.csv - 32951 rows x 9 cols
                         product_id product category  product_name_length  \
0  1e9e8ef04dbcff4541ed26657ea517e5        perfumery                 40.0
1  3aa071139cb16b67ca9e5dea641aaa2f              Art                 44.0
2  96bd76ec8810374ed1b65e291975717f    sport leisure                 46.0

   product_description_length  product_photos_qty  product_weight_g  \
0                       287.0                 1.0             225.0
1                       276.0                 1.0            1000.0
2                       250.0                 1.0             154.0

   product_length_cm  product_height_cm  product_width_cm
0               16.0               10.0              14.0
1               30.0               18.0              20.0
2               18.0                9.0              15.0

>>> sellers.csv - 3095 rows x 4 cols
                          seller_id  seller_zip_code_prefix     seller_city  \
0  3442f8959a84dea7ee197c632cb2df15                   13023        campinas
1  d1b65fc7debc3361ea86b5f14c68d2e2                   13844      mogi guacu
2  ce3ad9de960102d0677a81f5d0bb7b2d                   20031  rio de janeiro

  seller_state
0           SP
1           SP
2           RJ

In [28]:
for name, df in dataframes.items():
    print(f"\n--- DataFrame: {name} ---")
    df.info()

--- DataFrame: customers ---
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99441 entries, 0 to 99440
Data columns (total 5 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   customer_id               99441 non-null  object
 1   customer_unique_id        99441 non-null  object
 2   customer_zip_code_prefix  99441 non-null  int64
 3   customer_city             99441 non-null  object
 4   customer_state            99441 non-null  object
dtypes: int64(1), object(4)
memory usage: 3.8+ MB

--- DataFrame: geolocation ---
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000163 entries, 0 to 1000162
Data columns (total 5 columns):
 #   Column                       Non-Null Count    Dtype
---  ------                       --------------    -----
 0   geolocation_zip_code_prefix  1000163 non-null  int64
 1   geolocation_lat              1000163 non-null  float64
 2   geolocation_lng              1000163 non-null  float64
 3   geolocation_city             1000163 non-null  object
 4   geolocation_state            1000163 non-null  object
dtypes: float64(2), int64(1), object(2)
memory usage: 38.2+ MB

--- DataFrame: orders ---
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99441 entries, 0 to 99440
Data columns (total 8 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   order_id                       99441 non-null  object
 1   customer_id                    99441 non-null  object
 2   order_status                   99441 non-null  object
 3   order_purchase_timestamp       99441 non-null  object
 4   order_approved_at              99281 non-null  object
 5   order_delivered_carrier_date   97658 non-null  object
 6   order_delivered_customer_date  96476 non-null  object
 7   order_estimated_delivery_date  99441 non-null  object
dtypes: object(8)
memory usage: 6.1+ MB

--- DataFrame: order_items ---
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 112650 entries, 0 to 112649
Data columns (total 7 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   order_id             112650 non-null  object
 1   order_item_id        112650 non-null  int64
 2   product_id           112650 non-null  object
 3   seller_id            112650 non-null  object
 4   shipping_limit_date  112650 non-null  object
 5   price                112650 non-null  float64
 6   freight_value        112650 non-null  float64
dtypes: float64(2), int64(1), object(4)
memory usage: 6.0+ MB

--- DataFrame: payments ---
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 103886 entries, 0 to 103885
Data columns (total 5 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   order_id              103886 non-null  object
 1   payment_sequential    103886 non-null  int64
 2   payment_type          103886 non-null  object
 3   payment_installments  103886 non-null  int64
 4   payment_value         103886 non-null  float64
dtypes: float64(1), int64(2), object(2)
memory usage: 4.0+ MB

--- DataFrame: products ---
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32951 entries, 0 to 32950
Data columns (total 9 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   product_id                  32951 non-null  object
 1   product category            32341 non-null  object
 2   product_name_length         32341 non-null  float64
 3   product_description_length  32341 non-null  float64
 4   product_photos_qty          32341 non-null  float64
 5   product_weight_g            32949 non-null  float64
 6   product_length_cm           32949 non-null  float64
 7   product_height_cm           32949 non-null  float64
 8   product_width_cm            32949 non-null  float64
dtypes: float64(7), object(2)
memory usage: 2.3+ MB

--- DataFrame: sellers ---
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3095 entries, 0 to 3094
Data columns (total 4 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   seller_id               3095 non-null   object
 1   seller_zip_code_prefix  3095 non-null   int64
 2   seller_city             3095 non-null   object
 3   seller_state            3095 non-null   object
dtypes: int64(1), object(3)
memory usage: 96.8+ KB

! Column: Orders, Products

In [40]:
for name, df in dataframes.items():
    print(f"\n--- DataFrame: {name} ---")
    print(df.describe())

--- DataFrame: customers ---
       customer_zip_code_prefix
count              99441.000000
mean               35137.474583
std                29797.938996
min                 1003.000000
25%                11347.000000
50%                24416.000000
75%                58900.000000
max                99990.000000

--- DataFrame: geolocation ---
       geolocation_zip_code_prefix  geolocation_lat  geolocation_lng
count                 1.000163e+06     1.000163e+06     1.000163e+06
mean                  3.657417e+04    -2.117615e+01    -4.639054e+01
std                   3.054934e+04     5.715866e+00     4.269748e+00
min                   1.001000e+03    -3.660537e+01    -1.014668e+02
25%                   1.107500e+04    -2.360355e+01    -4.857317e+01
50%                   2.653000e+04    -2.291938e+01    -4.663788e+01
75%                   6.350400e+04    -1.997962e+01    -4.376771e+01
max                   9.999000e+04     4.506593e+01     1.211054e+02

--- DataFrame: orders ---
                                order_id                       customer_id  \
count                              99441                             99441
unique                             99441                             99441
top     66dea50a8b16d9b4dee7af250b4be1a5  edb027a75a1449115f6b43211ae02a24
freq                                   1                                 1

       order_status order_purchase_timestamp    order_approved_at  \
count         99441                    99441                99281
unique            8                    98875                90733
top       delivered      2018-08-02 12:05:26  2018-02-27 04:31:10
freq          96478                        3                    9

       order_delivered_carrier_date order_delivered_customer_date  \
count                         97658                         96476
unique                        81018                         95664
top             2018-05-09 15:48:00           2018-05-08 19:36:48
freq                             47                             3

       order_estimated_delivery_date
count                          99441
unique                           459
top              2017-12-20 00:00:00
freq                             522

--- DataFrame: order_items ---
       order_item_id          price  freight_value
count  112650.000000  112650.000000  112650.000000
mean        1.197834     120.653739      19.990320
std         0.705124     183.633928      15.806405
min         1.000000       0.850000       0.000000
25%         1.000000      39.900000      13.080000
50%         1.000000      74.990000      16.260000
75%         1.000000     134.900000      21.150000
max        21.000000    6735.000000     409.680000

--- DataFrame: payments ---
       payment_sequential  payment_installments  payment_value
count       103886.000000         103886.000000  103886.000000
mean             1.092679              2.853349     154.100380
std              0.706584              2.687051     217.494064
min              1.000000              0.000000       0.000000
25%              1.000000              1.000000      56.790000
50%              1.000000              1.000000     100.000000
75%              1.000000              4.000000     171.837500
max             29.000000             24.000000   13664.080000

--- DataFrame: products ---
       product_name_length  product_description_length  product_photos_qty  \
count         32341.000000                32341.000000        32341.000000
mean             48.476949                  771.495285            2.188986
std              10.245741                  635.115225            1.736766
min               5.000000                    4.000000            1.000000
25%              42.000000                  339.000000            1.000000
50%              51.000000                  595.000000            1.000000
75%              57.000000                  972.000000            3.000000
max              76.000000                 3992.000000           20.000000

       product_weight_g  product_length_cm  product_height_cm  \
count      32949.000000       32949.000000       32949.000000
mean        2276.472488          30.815078          16.937661
std         4282.038731          16.914458          13.637554
min            0.000000           7.000000           2.000000
25%          300.000000          18.000000           8.000000
50%          700.000000          25.000000          13.000000
75%         1900.000000          38.000000          21.000000
max        40425.000000         105.000000         105.000000

       product_width_cm
count      32949.000000
mean          23.196728
std           12.079047
min            6.000000
25%           15.000000
50%           20.000000
75%           30.000000
max          118.000000

--- DataFrame: sellers ---
       seller_zip_code_prefix
count             3095.000000
mean             32291.059451
std              32713.453830
min               1001.000000
25%               7093.500000
50%              14940.000000
75%              64552.500000
max              99730.000000

CLEAR

In [42]:
for name, df in dataframes.items():
    print(f"\n--- DataFrame: {name} ---")
    print(df.isnull().sum())

--- DataFrame: customers ---
customer_id                 0
customer_unique_id          0
customer_zip_code_prefix    0
customer_city               0
customer_state              0
dtype: int64

--- DataFrame: geolocation ---
geolocation_zip_code_prefix    0
geolocation_lat                0
geolocation_lng                0
geolocation_city               0
geolocation_state              0
dtype: int64

--- DataFrame: orders ---
order_id                            0
customer_id                         0
order_status                        0
order_purchase_timestamp            0
order_approved_at                 160
order_delivered_carrier_date     1783
order_delivered_customer_date    2965
order_estimated_delivery_date       0
dtype: int64

--- DataFrame: order_items ---
order_id               0
order_item_id          0
product_id             0
seller_id              0
shipping_limit_date    0
price                  0
freight_value          0
dtype: int64

--- DataFrame: payments ---
order_id                0
payment_sequential      0
payment_type            0
payment_installments    0
payment_value           0
dtype: int64

--- DataFrame: products ---
product_id                      0
product category              610
product_name_length           610
product_description_length    610
product_photos_qty            610
product_weight_g                2
product_length_cm               2
product_height_cm               2
product_width_cm                2
dtype: int64

--- DataFrame: sellers ---
seller_id                 0
seller_zip_code_prefix    0
seller_city               0
seller_state              0
dtype: int64

In [52]:
customers = pd.read_csv(os.path.join(folder_path, 'customers.csv'))
geolocation = pd.read_csv(os.path.join(folder_path, 'geolocation.csv'))
order_items = pd.read_csv(os.path.join(folder_path, 'order_items.csv'))
orders = pd.read_csv(os.path.join(folder_path, 'orders.csv'))
payments = pd.read_csv(os.path.join(folder_path, 'payments.csv'))
products = pd.read_csv(os.path.join(folder_path, 'products.csv'))
sellers = pd.read_csv(os.path.join(folder_path, 'sellers.csv'))

In [54]:
print("Orders null values:")
print(orders.isnull().sum())

print("\nProducts null values:")
print(products.isnull().sum())

Orders null values:
order_id                            0
customer_id                         0
order_status                        0
order_purchase_timestamp            0
order_approved_at                 160
order_delivered_carrier_date     1783
order_delivered_customer_date    2965
order_estimated_delivery_date       0
dtype: int64

Products null values:
product_id                      0
product category              610
product_name_length           610
product_description_length    610
product_photos_qty            610
product_weight_g                2
product_length_cm               2
product_height_cm               2
product_width_cm                2
dtype: int64

In [54]:
print("Orders null values:")
print(orders.isnull().sum())

print("\nProducts null values:")
print(products.isnull().sum())

Orders null values:
order_id                            0
customer_id                         0
order_status                        0
order_purchase_timestamp            0
order_approved_at                 160
order_delivered_carrier_date     1783
order_delivered_customer_date    2965
order_estimated_delivery_date       0
dtype: int64

Products null values:
product_id                      0
product category              610
product_name_length           610
product_description_length    610
product_photos_qty            610
product_weight_g                2
product_length_cm               2
product_height_cm               2
product_width_cm                2
dtype: int64

In [61]:
for col in orders.columns:
    if orders[col].isnull().any():  # Nếu có giá trị null
        print(f"\n>>> Cột: {col} (null: {orders[col].isnull().sum()})")
        print(orders[col].value_counts(dropna=False))

>>> Cột: order_approved_at (null: 160)
order_approved_at
NaN                    160
2018-02-27 04:31:10      9
2017-12-05 10:30:42      7
2018-02-06 05:31:52      7
2017-11-07 07:30:38      7
                      ...
2017-10-02 08:56:53      1
2017-06-08 02:45:24      1
2017-07-05 17:43:48      1
2018-05-25 17:15:21      1
2017-05-16 13:22:11      1
Name: count, Length: 90734, dtype: int64

>>> Cột: order_delivered_carrier_date (null: 1783)
order_delivered_carrier_date
NaN                    1783
2018-05-09 15:48:00      47
2018-05-10 18:29:00      32
2018-05-07 12:31:00      21
2018-05-02 15:15:00      16
                       ...
2017-08-18 16:42:51       1
2017-12-05 20:58:57       1
2017-10-03 20:26:19       1
2017-06-08 14:03:29       1
2017-06-13 13:38:08       1
Name: count, Length: 81019, dtype: int64

>>> Cột: order_delivered_customer_date (null: 2965)
order_delivered_customer_date
NaN                    2965
2017-06-19 18:47:51       3
2018-05-08 19:36:48       3
2018-05-14 20:02:44       3
2018-05-08 23:38:46       3
                       ...
2017-10-06 16:58:25       1
2017-06-19 19:19:30       1
2017-07-19 22:10:03       1
2018-06-04 23:54:32       1
2018-01-20 01:38:59       1
Name: count, Length: 95665, dtype: int64

In [65]:
for col in products.columns:
    if products[col].isnull().any():  
        print(f"\n>>> Cột: {col} (null: {products[col].isnull().sum()})")
        print(products[col].value_counts(dropna=False))

>>> Cột: product category (null: 610)
product category
bed table bath                 3029
sport leisure                  2867
Furniture Decoration           2657
HEALTH BEAUTY                  2444
housewares                     2335
                               ...
Fashion Children's Clothing       5
House Comfort 2                   5
PC Gamer                          3
insurance and services            2
cds music dvds                    1
Name: count, Length: 74, dtype: int64

>>> Cột: product_name_length (null: 610)
product_name_length
60.0    2182
59.0    2025
58.0    1887
57.0    1719
55.0    1683
        ...
66.0       1
72.0       1
67.0       1
76.0       1
6.0        1
Name: count, Length: 67, dtype: int64

>>> Cột: product_description_length (null: 610)
product_description_length
NaN       610
404.0      94
729.0      86
703.0      66
651.0      66
         ...
27.0        1
2111.0      1
2241.0      1
3172.0      1
2835.0      1
Name: count, Length: 2961, dtype: int64

>>> Cột: product_photos_qty (null: 610)
product_photos_qty
1.0     16489
2.0      6263
3.0      3860
4.0      2428
5.0      1484
6.0       968
NaN       610
7.0       343
8.0       192
9.0       105
10.0       95
11.0       46
12.0       35
13.0        9
15.0        8
17.0        7
14.0        5
18.0        2
20.0        1
19.0        1
Name: count, dtype: int64

>>> Cột: product_weight_g (null: 2)
product_weight_g
200.0     2084
300.0     1561
150.0     1259
400.0     1206
100.0     1188
          ...
2738.0       1
1470.0       1
5333.0       1
763.0        1
479.0        1
Name: count, Length: 2205, dtype: int64

>>> Cột: product_length_cm (null: 2)
product_length_cm
16.0    5520
20.0    2816
30.0    2029
18.0    1502
25.0    1387
        ...
10.0       3
8.0        2
9.0        2
NaN        2
7.0        1
Name: count, Length: 100, dtype: int64

>>> Cột: product_height_cm (null: 2)
product_height_cm
10.0    2548
15.0    2022
20.0    1991
16.0    1595
11.0    1551
        ...
NaN        2
97.0       2
99.0       1
89.0       1
94.0       1
Name: count, Length: 103, dtype: int64

>>> Cột: product_width_cm (null: 2)
product_width_cm
11.0     3718
20.0     3053
16.0     2808
15.0     2393
30.0     1786
         ...
103.0       1
118.0       1
97.0        1
77.0        1
104.0       1
Name: count, Length: 96, dtype: int64

In [66]:
orders = orders.dropna().reset_index(drop = True)
orders.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 96461 entries, 0 to 96460
Data columns (total 8 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   order_id                       96461 non-null  object
 1   customer_id                    96461 non-null  object
 2   order_status                   96461 non-null  object
 3   order_purchase_timestamp       96461 non-null  object
 4   order_approved_at              96461 non-null  object
 5   order_delivered_carrier_date   96461 non-null  object
 6   order_delivered_customer_date  96461 non-null  object
 7   order_estimated_delivery_date  96461 non-null  object
dtypes: object(8)
memory usage: 5.9+ MB

In [67]:
products = products.dropna().reset_index( drop = True)
products.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32340 entries, 0 to 32339
Data columns (total 9 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   product_id                  32340 non-null  object
 1   product category            32340 non-null  object
 2   product_name_length         32340 non-null  float64
 3   product_description_length  32340 non-null  float64
 4   product_photos_qty          32340 non-null  float64
 5   product_weight_g            32340 non-null  float64
 6   product_length_cm           32340 non-null  float64
 7   product_height_cm           32340 non-null  float64
 8   product_width_cm            32340 non-null  float64
dtypes: float64(7), object(2)
memory usage: 2.2+ MB

In [69]:
for name, df in dataframes.items():
    print(f"\n--- DataFrame: {name} ---")
    print(df.duplicated().sum())

--- DataFrame: customers ---
0

--- DataFrame: geolocation ---
261831

--- DataFrame: orders ---
0

--- DataFrame: order_items ---
0

--- DataFrame: payments ---
0

--- DataFrame: products ---
0

--- DataFrame: sellers ---
0

! Column: geolocation

In [70]:
geolocation.duplicated().sum()

np.int64(261831)

In [71]:
geolocation = geolocation.duplicated().reset_index(drop= True)
geolocation.info()

<class 'pandas.core.series.Series'>
RangeIndex: 1000163 entries, 0 to 1000162
Series name: None
Non-Null Count    Dtype
--------------    -----
1000163 non-null  bool
dtypes: bool(1)
memory usage: 976.9 KB

In [73]:
for name, df in dataframes.items():
    print(f"\n--- DataFrame: {name} ---")
    print(df.info())

--- DataFrame: customers ---
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99441 entries, 0 to 99440
Data columns (total 5 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   customer_id               99441 non-null  object
 1   customer_unique_id        99441 non-null  object
 2   customer_zip_code_prefix  99441 non-null  int64
 3   customer_city             99441 non-null  object
 4   customer_state            99441 non-null  object
dtypes: int64(1), object(4)
memory usage: 3.8+ MB
None

--- DataFrame: geolocation ---
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000163 entries, 0 to 1000162
Data columns (total 5 columns):
 #   Column                       Non-Null Count    Dtype
---  ------                       --------------    -----
 0   geolocation_zip_code_prefix  1000163 non-null  int64
 1   geolocation_lat              1000163 non-null  float64
 2   geolocation_lng              1000163 non-null  float64
 3   geolocation_city             1000163 non-null  object
 4   geolocation_state            1000163 non-null  object
dtypes: float64(2), int64(1), object(2)
memory usage: 38.2+ MB
None

--- DataFrame: orders ---
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99441 entries, 0 to 99440
Data columns (total 8 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   order_id                       99441 non-null  object
 1   customer_id                    99441 non-null  object
 2   order_status                   99441 non-null  object
 3   order_purchase_timestamp       99441 non-null  object
 4   order_approved_at              99281 non-null  object
 5   order_delivered_carrier_date   97658 non-null  object
 6   order_delivered_customer_date  96476 non-null  object
 7   order_estimated_delivery_date  99441 non-null  object
dtypes: object(8)
memory usage: 6.1+ MB
None

--- DataFrame: order_items ---
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 112650 entries, 0 to 112649
Data columns (total 7 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   order_id             112650 non-null  object
 1   order_item_id        112650 non-null  int64
 2   product_id           112650 non-null  object
 3   seller_id            112650 non-null  object
 4   shipping_limit_date  112650 non-null  object
 5   price                112650 non-null  float64
 6   freight_value        112650 non-null  float64
dtypes: float64(2), int64(1), object(4)
memory usage: 6.0+ MB
None

--- DataFrame: payments ---
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 103886 entries, 0 to 103885
Data columns (total 5 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   order_id              103886 non-null  object
 1   payment_sequential    103886 non-null  int64
 2   payment_type          103886 non-null  object
 3   payment_installments  103886 non-null  int64
 4   payment_value         103886 non-null  float64
dtypes: float64(1), int64(2), object(2)
memory usage: 4.0+ MB
None

--- DataFrame: products ---
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32951 entries, 0 to 32950
Data columns (total 9 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   product_id                  32951 non-null  object
 1   product category            32341 non-null  object
 2   product_name_length         32341 non-null  float64
 3   product_description_length  32341 non-null  float64
 4   product_photos_qty          32341 non-null  float64
 5   product_weight_g            32949 non-null  float64
 6   product_length_cm           32949 non-null  float64
 7   product_height_cm           32949 non-null  float64
 8   product_width_cm            32949 non-null  float64
dtypes: float64(7), object(2)
memory usage: 2.3+ MB
None

--- DataFrame: sellers ---
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3095 entries, 0 to 3094
Data columns (total 4 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   seller_id               3095 non-null   object
 1   seller_zip_code_prefix  3095 non-null   int64
 2   seller_city             3095 non-null   object
 3   seller_state            3095 non-null   object
dtypes: int64(1), object(3)
memory usage: 96.8+ KB
None

In [ ]:
# customers: OK
# geolocation: OK
# order_items: shipping_limit_date - change type object-> datetime
# orders: order_purchase_timestamp/ order_approved_at/ order_delivered_carrier_date/ order_delivered_customer_date/ order_estimated_delivery_date
# payments: OK
# products: product_name_length/ product_description_length/ product_photos_qty -> int
# sellers: OK

In [105]:
# order_items: shipping_limit_date - change type object-> datetime

order_items['shipping_limit_date'] = pd.to_datetime(
    order_items['shipping_limit_date'].astype(str),
    errors='coerce'
)
order_items.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 112650 entries, 0 to 112649
Data columns (total 7 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   order_id             112650 non-null  object
 1   order_item_id        112650 non-null  int64
 2   product_id           112650 non-null  object
 3   seller_id            112650 non-null  object
 4   shipping_limit_date  0 non-null       datetime64[ns]
 5   price                112650 non-null  float64
 6   freight_value        112650 non-null  float64
dtypes: datetime64[ns](1), float64(2), int64(1), object(3)
memory usage: 6.0+ MB

In [98]:
# orders: order_purchase_timestamp/ order_approved_at/ order_delivered_carrier_date/ order_delivered_customer_date/ order_estimated_delivery_date

date_cols = [
    'order_purchase_timestamp',
    'order_approved_at',
    'order_delivered_carrier_date',
    'order_delivered_customer_date',
    'order_estimated_delivery_date'
]

orders[date_cols] = orders[date_cols].apply(
    pd.to_datetime, format='%m/%d/%Y %H:%M', errors='coerce'
)

orders.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 96461 entries, 0 to 96460
Data columns (total 8 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   order_id                       96461 non-null  object
 1   customer_id                    96461 non-null  object
 2   order_status                   96461 non-null  object
 3   order_purchase_timestamp       0 non-null      datetime64[ns]
 4   order_approved_at              0 non-null      datetime64[ns]
 5   order_delivered_carrier_date   0 non-null      datetime64[ns]
 6   order_delivered_customer_date  0 non-null      datetime64[ns]
 7   order_estimated_delivery_date  0 non-null      datetime64[ns]
dtypes: datetime64[ns](5), object(3)
memory usage: 5.9+ MB

In [107]:
# products: product_name_length/ product_description_length/ product_photos_qty -> int

product_need_int = [
    'product_name_length',
    'product_description_length',
    'product_photos_qty'
]

products[product_need_int] = products[product_need_int].astype(int)

products.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32340 entries, 0 to 32339
Data columns (total 9 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   product_id                  32340 non-null  object
 1   product category            32340 non-null  object
 2   product_name_length         32340 non-null  int64
 3   product_description_length  32340 non-null  int64
 4   product_photos_qty          32340 non-null  int64
 5   product_weight_g            32340 non-null  float64
 6   product_length_cm           32340 non-null  float64
 7   product_height_cm           32340 non-null  float64
 8   product_width_cm            32340 non-null  float64
dtypes: float64(4), int64(3), object(2)
memory usage: 2.2+ MB